<ion-header>
  <ion-toolbar>
    <ion-menu side="start" menuId="first" color="primary">

    </ion-menu>
    <ion-title>
      Tab One
    </ion-title>
    <ion-button (click)="logOut()" color="danger" slot="end"><ion-icon name="log-out"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>
 <ion-content>
    <ion-grid>
        <ion-row>
          <ion-col>
            Asistencia Inmediata
          </ion-col>
          <ion-col>
            Consulte Un Experto
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
              Auto Lavado
            </ion-col>
            <ion-col class="align-self-start">
              Cambio de Aceite
            </ion-col>
            <ion-col class="align-self-center"> 
              Alineacion Y Balanceo
            </ion-col>
            <ion-col>
              Frenos
            </ion-col>
          </ion-row>
      </ion-grid>
</ion-content>
