<ion-app>
    <ion-menu side="start" menuId="first" contentId="main">
        <ion-header>
          <ion-toolbar color="primary">
            <ion-title>AutOK</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-item><ion-icon name="card"></ion-icon>&nbsp;&nbsp;Mis Tarjetas</ion-item>
            <ion-item><ion-icon name="logo-model-s"></ion-icon>&nbsp;&nbsp;Mis Vehiculos</ion-item>
            <ion-item><ion-icon name="pin"></ion-icon>&nbsp;&nbsp;Mis Direcciones</ion-item>
          </ion-list>
        </ion-content>
      </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
